@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: white;
  font-family: "ubuntu", sans-serif;
}
body {
  background-color: black;
}
